.neighbor {
  flex-grow: 1;

  font-weight: 600;
}

.neighbor a {
  display: block;
  padding: 8px;
  box-shadow: var(--box-shadow-neighbor);
  border-radius: 3px;
  flex-grow: 1;
  background-color: var(--ui-elements-color);
  text-align: center;
}
