.button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  padding: 5px 19px;
  border: none;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: var(--box-shadowBtn);
  margin: 1rem;
  top: 10px;
  z-index: 500;
  font-weight: 600;
  font-size: 0.875rem;
}

.backArrowIcon {
  height: 18px;
  min-width: 18px;
}

.positionAbsolute {
  position: absolute;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
}
