.backButton {
  position: absolute;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  margin: var(--spacing-lg) var(--spacing-sm) 52px var(--spacing-sm); /* TO DO: Change px to rem */
  padding: 5px 19px;
  border: none;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: var(--box-shadowBtn);
  margin: 1rem;
  top: 10px;
  z-index: 500;
  font-weight: 600;
  font-size: 0.875rem;
}

.backArrowIcon {
  min-width: 16px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
}
