.backButton {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 8px;
  margin: var(--spacing-lg) var(--spacing-sm) 52px var(--spacing-sm); /* TO DO: Change px to rem */
  padding: 4px 18px;
  border: none;
  border-radius: 3px;
  background-color: var(--white);
  box-shadow: var(--box-shadowBtn);
}

.backArrowIcon {
  min-width: 16px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .backButton {
    position: absolute;
    margin: 1rem;
    top: 10px;
    z-index: 1111;
  }
}
