.infoSection {
  padding: 1.875rem var(--spacing-md);
  background-color: var(--very-light-gray-bg);
}

.neighborsListSection {
  padding: var(--spacing-lg) 0;
}

.flagThumbnail {
  width: 60px;
}

/* this class name is temporary */
.detailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 var(--spacing-lg) 0; /* TO DO: Change padding top to rem units */
}

.countryName {
  font-size: 2rem;
}

/* MEDIA QUERIES*/
