.neighborsList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  background-color: var(--background);
  margin-top: 0.75rem;
}

.neighborsList a:hover {
  background-color: var(--btn-hover);
  box-shadow: var(--btn-hover-shadow);
}
