.statusIndicator {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
  flex: 1;
}

.statusMessage {
  font-size: 1.25rem;
  text-align: center;
  line-height: 2;
}

.statusMessage button {
  margin: 16px auto;
}
.statusIcon {
  opacity: 0.85;
  width: 80px;
  margin: 0 auto;
}

.errorMessage {
  font-size: 1.375rem;
}

.suggestionMessage {
  font-size: 1rem;
}
