.detailPage {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--white);
}

.sectionWrapper {
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .detailPage {
    flex-direction: row-reverse;
    flex-grow: 1;
  }
  .sectionWrapper {
    flex: 1 1 60%;
    position: relative;
  }
}
