.detailPage {
  display: flex;
  flex-direction: column-reverse;
}

.mapSectionWrapper {
  position: relative;
}

/* MEDIA QUERIES */
@media screen and (min-width: 992px) {
  .detailPage {
    flex-direction: row-reverse;
    flex-grow: 1;
  }
  .mapSectionWrapper {
    flex: 1 1 60%;
  }
}
