.main {
  background-color: var(--very-light-gray-bg);
  padding: 1.75rem var(--spacing-sm);
}

.searchAndFilter_form {
  font-size: 1.5rem;
}

/* MEDIA QUERIES*/
@media screen and (min-width: 576px) {
  .main {
    padding: 1.75rem var(--spacing-lg);
  }

  .searchAndFilter_form {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding: 1.75rem var(--spacing-xl);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 1.75rem 3.75rem;
  }
}

@media screen and (min-width: 1800px) {
  .main {
    padding: 1.75rem 4.5rem;
  }
}

@media screen and (min-width: 2300px) {
  .main {
    padding: 1.75rem 6rem;
  }
}
