.countryCardList {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 3rem;
  justify-content: space-around;
  padding: var(--spacing-xl) 0;
}

/* MEDIA QUERIES*/
@media screen and (min-width: 576px) {
  .countryCardList {
    justify-content: space-between;
  }
}

@media screen and (min-width: 760px) {
  .countryCardList {
    gap: 3.75rem;
  }
}

@media screen and (min-width: 1800px) {
  .countryCardList {
    gap: 4.25rem;
  }
}
