/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* Import Leaflet CSS for map styling */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

/*
  CSS RESET by Josh Comeau - https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Base Global Styles */
html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--black);
}

button:hover {
  background-color: var(--btnHover);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:active {
  background-color: hsl(30, 14%, 85%);
  transform: var(--active);
}

ul {
  padding: 0;
  list-style-type: none;
}

dl {
  line-height: 1.875;
}

dt,
dd {
  display: inline;
}

dt {
  font-weight: 800;
}

dt::after {
  content: ": ";
}

/* Leaflet map style overrides */
.leaflet-control-zoom a {
  color: var(--very-dark-blue-bg);
  color: var(--white);
  background-color: hsl(207deg, 26%, 17%, 0.5);
}

.leaflet-touch .leaflet-bar {
  border: 2px solid var(--very-dark-blue-bg);
}

.leaflet-bar a {
  border-bottom: 1px solid hsl(207deg, 26%, 17%, 0.7);
}

.leaflet-bar a:hover,
.leaflet-bar a:focus {
  background-color: var(--very-dark-blue-bg);
}

/* Leaflet map style overrides */
.filter__input-container {
  margin: 0 !important;
}

/* ----- GLOBAL LAYOUT STYLES GO HERE ----- */

/* ------- END OF GLOBAL STYLES ------- */

/* MEDIA QUERIES*/
@media screen and (min-width: 992px) {
  #root {
    display: flex;
  }

  .statusIndicatorGlobal + .mapSectionWrapperGlobal {
    flex: initial;
  }
}

/* LOADER*/
/* Absolute Center Spinner */
.loadingIndicator {
  /* position: fixed; */
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  padding-bottom: 36px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loadingIndicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(245, 245, 245, 0.5),
    rgba(70, 130, 180, 0.3)
  );
  background: -webkit-radial-gradient(
    rgba(245, 245, 245, 0.5),
    rgba(70, 130, 180, 0.3)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loadingIndicator:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loadingIndicator:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(20, 20, 20, 0.6) 1.5em 0 0 0,
    rgba(20, 20, 20, 0.6) 1.1em 1.1em 0 0, rgba(20, 20, 20, 0.6) 0 1.5em 0 0,
    rgba(20, 20, 20, 0.6) -1.1em 1.1em 0 0, rgba(20, 20, 20, 0.6) -1.5em 0 0 0,
    rgba(20, 20, 20, 0.6) -1.1em -1.1em 0 0, rgba(20, 20, 20, 0.6) 0 -1.5em 0 0,
    rgba(20, 20, 20, 0.6) 1.1em -1.1em 0 0;
  box-shadow: rgba(20, 20, 20, 0.6) 1.5em 0 0 0,
    rgba(20, 20, 20, 0.6) 1.1em 1.1em 0 0, rgba(20, 20, 20, 0.6) 0 1.5em 0 0,
    rgba(20, 20, 20, 0.6) -1.1em 1.1em 0 0, rgba(20, 20, 20, 0.6) -1.5em 0 0 0,
    rgba(20, 20, 20, 0.6) -1.1em -1.1em 0 0, rgba(20, 20, 20, 0.6) 0 -1.5em 0 0,
    rgba(20, 20, 20, 0.6) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
