/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* Import Leaflet CSS for map styling */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

/*
  CSS RESET by Josh Comeau - https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Base Global Styles */
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--black);
}

ul {
  padding: 0;
  list-style-type: none;
}

dt,
dd {
  display: inline;
}

dt {
  font-weight: 600;
}

dt::after {
  content: ": ";
}

/* ----- GLOBAL LAYOUT STYLES GO HERE ----- */
main {
  background-color: var(--very-light-gray-bg);
  padding: 1.75rem var(--spacing-sm);
}

/* MEDIA QUERIES*/
@media screen and (min-width: 600px) {
  main {
    padding: var(--spacing-xl) var(--spacing-xxl);
  }
}

/* ------- END OF GLOBAL STYLES ------- */

/* Temporarily styles - migrate to CSS modules later */
/* setting background color to darkgray to alleviate eye strain */

.detailPage {
  display: flex;
  height: 100vh;
}

.infoSection {
  flex-basis: 50%;
}

.mapSection {
  flex: 1;
  background-color: grey;
  height: 100%;
  position: relative;
}

.map {
  height: 100%;
}
