.countryCardItem {
  flex: 0 1 100%;
}

.countryCard {
  box-shadow: var(--box-shadow);
}

.countryCardContent {
  background-color: var(--white);
  padding: var(--spacing-lg);
  padding-bottom: var(--spacing-xl);
  border-radius: 0 0 6px 6px;
}

.countryCardInfo {
  padding-top: 0.5rem;
}

.flagWrapper {
  height: 180px;
  width: 100%;
}

.flag {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
}

/* MEDIA QUERIES*/
@media screen and (min-width: 600px) {
  .countryCardItem {
    flex: 0 1 24%;
    max-width: 24%;
    box-sizing: border-box;
    flex-shrink: 1;
  }

  .countryName {
    max-width: 100%; /* Constrain title to the card's width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
